* {
  box-sizing: border-box;
}

.select-wrapper {
  width: fit-content;
}

.select-input {
  cursor: pointer;
}

.select-dropdown-wrapper {
  position: relative;
  display: none;
}

.select-dropdown-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000050;
  cursor: pointer;
  z-index: 1299;
}

.select-dropdown {
  width: 100%;
  min-width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  padding: 4px 8px;
  background-color: white;
  z-index: 1300;
}

.select-dropdown-option {
  cursor: pointer;
  white-space: nowrap;
}

.select-dropdown-option:hover {
  background-color: #00000010;
}
